.grid-item {
  background-color: var(--BackgroundGrid);
  padding-top: 100%;
  border-radius: 5%;
}

.obstacle {
  background-color: var(--GridObstacleColour);
}

.start {
  background-color: var(--GridStartColour);
  ;
}

.finish {
  background-color: var(--GridEndColour);
}

.pending-path {
  background-color: var(--GridPathColour);
}

.explored-path {
  background-color: black;
}