:root {
  --rowNum: 20;
  --colNum: 20;
}

.theGrid {
  width: 50%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(var(--colNum), auto);
  grid-template-rows: repeat(var(--rowNum), auto);
  column-gap: 1px;
  row-gap: 1px;
}