/* :root {
  --BackgroundPrimary: #7E7D5C;
  --BackgroundGrid: #D8B75E;
  --GridObstacleColour: #858636;
  --GridStartColour: #7D6017;
  --GridEndColour: #5D3A23;
  --GridPathColour: #423418;
} */

:root {
  --BackgroundPrimary: #202733;
  --BackgroundGrid: #2B4152;
  --GridObstacleColour: #797AA1;
  --GridStartColour: #F58281;
  --GridEndColour: #F7E3C3;
  --GridPathColour: #FCC1AB;
}

html {
  background-color: var(--BackgroundPrimary);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
